* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

body {
  background-color: darkslateblue;
}

#game-board {
  background-color: whitesmoke;
  width: 50vmin;
  height: 50vmin;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
}

.snake{
    background-color: blue;
    border: 0.25vmin solid black;
    padding: 0;
}
.food{
    background-color: yellow;
    border: 0.25vmin solid black;
     padding: 0;
}
.number,.number-highest {
  font-size: 24px;
  font-weight: 500;
}
#speed {
  color:black;
}
#replay, #pause {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  background-color: purple;
  opacity: 0.8;
}
