* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #333333;
}

#board {
  margin: 36px auto;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, 100px);
}

.card {
  width: 100px;
  height: 100px;
  border: solid 1px #ddd;
  background-color: black;
}
